<nav x-data="{ open: false }" @keydown.window.escape="open = false" class="rounded-bl-lg header-color">
  <div class="px-4 mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          
        </div>
        <div class="hidden md:block">
          <div class="flex items-baseline ml-10">
           
          
     
          </div>
        </div>
      </div>
    </div>
  </div>

</nav>
